<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/style.css">
    <title>CS-312-MiniProject-3</title>
</head>
<body>
    <div class="d-flex justify-content-around align-items-center">
        <a href="/"><button class="btn btn-primary">HOME</button></a>
        <h1>
            Log in!
        </h1>
        <div>
            <a href="/signup"><button class="btn btn-primary">SIGN UP?</button></a>
        </div>
    </div>
    <div class="blogForm">
        <form action="/login" method="post">
            <div class="mb-3">
                <label class="form-label formLabel">ID:</label>
                <input class="form-control" type="text" name="userID" placeholder="Your ID?" required>
            </div>
            <div class="mb-3">
                <label class="form-label formLabel">Password:</label>
                <input class="form-control" type="text" name="password" placeholder="Your password?" required>
            </div>
            <%# Check for invalid user id %>
            <% if (locals.invalid) { %>
            <p style="color: red;">USER ID/PASSWORD INVALID, PLEASE TRY AGAIN</p>
            <% } %>
            <input class="btn btn-primary" type="submit">
            <br>
            <br>
        </form>
    </div>
</body>
</html>