body {
    background-color: #131416;
}

h1 {
    color: white;
}

.blogForm {
    width: 80%;
    margin: 0 auto;
}

.formLabel {
    color: white;
}

img {
    max-height: 50%;    
}

.book-card {
    min-width: 150px;  
    color: white;
}