body {
    background-color: #FFFFFF;
}

h1 {
    color: black;
}

.filter {
    text-decoration: none;
    color: black;
}
.blogForm {
    width: 80%;
    margin: 0 auto;
}

.formLabel {
    color: rgb(0, 0, 0);
}

img {
    max-height: 50%;    
}

.book-card {
    min-width: 150px;
    max-width: 150px;
    color: black;
}

.book {
    text-decoration: none;
}

.star-rating{
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    -webkit-text-stroke: 1px black;
    justify-content: center;
    gap: 5px;
    display: flex;  
    font-size: 20px;
    /* align-items: flex-end; */
}
.star-rating .on{
    color: yellow;
}

.star-rating .off{
    color: black;
}

.card-title {
    margin-top: 8px;
}

.star-rating .rating-num {
    -webkit-text-stroke: 0px black;
}

.navbar-margin-ovrr {
    margin: 10px 30px;
}

.cust-max-screen-width-1000 {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.cust-max-screen-width-600 {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.btn-signin {
    background-color: rgb(227, 227, 227);
    border: 1px solid rgb(196, 196, 196);
    color: rgb(59, 59, 59);
}

.custom-btn-height{
    height: 45px; 
}

.custom-btn-width {
  width: 75px;
}

.bookPage {
    display:flex;
    justify-content: flex-start;
}

.bookPage img {
    max-width: 12%;
    margin-left: 5%;
    margin-right: 20px;
}

.bookPageRating {
    display:flex;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    -webkit-text-stroke: 1px black;
    gap: 5px;
    font-size: 20px;
}

.bookPageRating .on{
    color: yellow;
}

.bookPageRating .off{
    color: black;
}

.reviewButtonDiv {
    display:flex;
    justify-content: flex-end;
}

.bookReviews {
    display:flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}

.review {
    background-color: #d9d9d9;
    margin-top: 25px;
}

.reviewRating {
    display:flex;
    margin-left: 2%;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    -webkit-text-stroke: 1px black;
    gap: 5px;
    font-size: 20px;
}

.reviewRating .on{
    color: yellow;
}

.reviewRating .off{
    color: black;
}

.reviewForm {
    display:flex;
    justify-content: space-between;
}